IIDX21pc(status="0" expire="600")
  ir(beat=beat)
  limit(phase="1")
  boss(phase="1")
  boss1(phase="1")
  medal(phase="1")
  vip_pass_black
  cafe(open="1")
  tricolettepark(open="1")
  tricolettepark_skip(phase="1")
  deller_bonus(open="1")
  gumi_event
  newsong_another(open="1")
  superstar(phase="1")
