IIDX22pc(status="0" expire="600")
  ir(beat=beat)
  //-
    cm(id="" folder="" compo="")
  pre_play(phase="2")
  expert(phase="2")
  toho_remix(phase="2")
  expert_random_secret(phase="2")
  limit(phase="9")
  boss(phase="3")
  chrono_diver(phase="4")
  qpronicle_chord(phase="3")
  vip_pass_black
  cc_collabo_event(phase="3")
  cc_collabo_license
  deller_bonus(open="1")
  newsong_another(open="1")
  common_timeshift_phase(phase="1")
  expert_secret_full_open
  eaappli_expert
  eaorder
