IIDX23pc(status="0" expire="600")
  ir(beat=beat)
  //-
    cm(id="" folder="" compo="")
  expert(phase="1")
  expert_random_secret(phase="2")
  boss(phase="3")
  event1_phase(phase="1")
  event2_phase(phase="2")
  extra_boss_event(phase="30")
  vip_pass_black
  event1_rainbow_ticket
  deller_bonus(open="1")
  newsong_another(open="1")
  expert_secret_full_open
  remocon_collabo
  ravemania_collabo
  djlevel_result
  virtual_coin(phase="1")
  reflec_volzza_collabo
  bemani_summer2016(phase="2")
