IIDX27pc(status="0" expire="600")
  ir(beat=beat)
  //-
    cm(id="" folder="" compo="")
    tdj_cm
      cm(id="" filename="")
  expert(phase="1")
  expert_random_secert(phase="1")
  boss(phase="1")
  vip_pass_black
  deller_bonus(open="1")
  newsong_another(open="1")
  secret_full_open
  system_voice_phase(phase="1")
  extra_boss_event(phase="1")
  event1_phase(phase="4")
  premium_area_news(open="1")
  premium_area_qpro(open="1")
  play_video
  display_asio_logo
