IIDX29pc(status="0" expire="600")
  ir(beat=beat)
  //-
    cm(id="" folder="" compo="")
    tdj_cm
      cm(id="" filename="")
  movie_agreement(version="1")
  movie_upload(url=movie_upload)
  expert(phase="1")
  expert_random_secert(phase="1")
  boss(phase="1")
  vip_pass_black
  eisei(open="1")
  deller_bonus(open="1")
  newsong_another(open="1")
  expert_secret_full_open
  system_voice_phase(phase="1")
  extra_boss_event(phase="1")
  event1_phase(phase="4")
  premium_area_news(open="1")
  premium_area_qpro(open="1")
  play_video
  world_tourism(open_list="-1")
  bpl_battle(phase="1")
  display_asio_logo
  lane_gacha
