IIDX30pc(status="0" expire="600")
  ir(beat=beat)
  //-
    cm(id="" folder="" compo="")
    tdj_cm
      cm(id="" filename="")
  movie_agreement(version="1")
  vip_pass_black
  deller_bonus(open="1")
  newsong_another(open="1")
  system_voice_phase(phase="1")
  premium_area_news(open="1")
  premium_area_qpro(open="1")
  play_video
  display_asio_logo
  lane_gacha
  tourism_booster
  ameto_event
